html {
    height: 100vh;
}

body {
    background-image: url("background.jpg");
    background-color: #fffa;
    background-blend-mode: lighten;
    background-repeat: repeat-y;
    background-size: cover;
    color: #000;
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 70%;
}

a {
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

i {
    font-size: 2em;
}

hr {
    width: 95%;
}

header {
    background-color: #fff;
    padding: 1em 3em;
    width: calc(100% - 6em);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2em 1em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header a {
    padding: 0.5em;
    border: 2px solid #000;
    color: #000;
}

header a:hover {
    background-color: #EDEBC0;
}

footer {
    background-color: #EDEBC0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 5%;
    margin-top: auto;
}

footer section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h4 {
    margin: 0 0 2em;
}

main {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60%;
    margin: 2em 0;
}

section h2 {
    text-align: center;
    width: 100%;
}

section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.classes {
    gap: 2em;
}

section.classes div {
    align-items: flex-start;
}

section.classes a {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 1em 2em;
    width: calc(40% - 6em);
}

section.classes a:hover {
    background-color: #EDEBC0;
    color: #000;
}

section.stats {
    justify-content: center;
    gap: 3em 10em;
}

section.stats progress {
    width: 15em;
    padding: 1.25em;
}


section.aboutus div {
    width: 45%;
}

section.aboutus p {
    background-color: #fffa;
}

section.aboutus img {
    width: 90%;
    height: 90%;
    border: 1px solid #000;
    background-color: #fff;
}

section.faq {
    gap: 2em;
}

section.faq div {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.5em 2em;
    width: calc(40% - 6em);
}

section.faq a {
    text-decoration: underline;
}

section.contact {
    margin: 3em 0 5em;
    height: 70vh;
    gap: 2em;
}

section.contact h2 {
    margin: 2em 0;
}

section.contact p {
    background-color: #fffa;
    text-align: center;
    width: 90%;
}

section.contact div:not([class=qr]) {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 1em 2em;
    width: calc(50% - 6em);
    background-color: #fff;
}

section.contact div:has(div.qr) {
    flex-direction: row;
    justify-content: space-between;
}

section.contact div.qr {
    width: 40%;
}

section.contact img {
    width: 100%;
    aspect-ratio: 1/1;
}

form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

div.row {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

div.input-group {
    position: relative;
    margin-bottom: 1.5em;
    flex: 1;
}

input {
    width: calc(100% - 2em);
    padding: 1em 0.75em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    background-color: #fff;
}

input:focus {
    border-color: #000;
}

label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 1em;
    pointer-events: none;
    transition: opacity 0.3s;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    opacity: 0;
    visibility: hidden;
}

button {
    width: calc(100% - 6em);
    padding: 1em;
    margin: 0 3em;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #EDEBC0;
}

@media (width <= 700px) {
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 70vh;
        width: 100%;
    }

    header {
        flex-direction: column;
        width: calc(100% - 2em);
        padding: 1em;
    }

    main section {
        width: 100%;
    }

    section.classes {
        flex-direction: column;
    }

    section.classes a {
        width: calc(100% - 4em);
    }

    section.aboutus {
        flex-direction: column;
    }

    section.aboutus div {
        width: 100%;
    }

    section.faq {
        flex-direction: column;
    }

    section.faq div {
        width: calc(100% - 4em);
    }

    section.contact {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: stretch;
        height: auto;
    }

    section.contact div:not([class=qr]) {
        width: calc(100% - 4em);
    }
}
